<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
    <span>ROBOT WEB GUI</span>
</mat-toolbar>
<mat-tab-group >
    <mat-tab  label="Monitoring">
        <div class="containerModelPlot"
        fxLayout ="row"
        fxLayout.xs="column"
        fxLayoutAlign="left"
        fxLayoutGap="50px"
        fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="50%">
          <app-canvas></app-canvas>
      </div>
      <div class="item item-2" fxFlex="50%">
        <app-plotter idPlot="1" ></app-plotter>
      </div>
     
      </div>

      <div
      fxLayout ="row"
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="30px"
      fxLayoutGap.xs="0">
      <div class="item item-1" fxFlex="33%">
        <app-plotter idPlot="2" label="Position" [fields]="['motorPos','linkPos','refPos']"></app-plotter>
      </div>
      <div class="item item-2" fxFlex="33%" >
        <app-plotter idPlot="3" label="Velocity"  [fields]="['motorVel','linkVel','refVel']"></app-plotter>
      </div>
   
      <div class="item item-3" fxFlex="34%">
        <app-plotter idPlot="4" label="Torque"  [fields]="['effort','refTor']"></app-plotter>
      </div>
    </div>
      
    </mat-tab>
    <mat-tab label="Plugins">
      <app-plugin-list></app-plugin-list>
    </mat-tab>
    <mat-tab label="Sliders">
        <app-slider-control></app-slider-control>
      </mat-tab>
  </mat-tab-group>

<!--<app-slider-control></app-slider-control>-->


  
