<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
    <span>ROBOT WEB GUI</span>
    <mat-button-toggle-group *ngIf="tabIndex==0" value="Model" style="margin-left: 50px;" #group="matButtonToggleGroup" name="mode" aria-label="Font Style" (change)="changeView(group.value)">
        <mat-button-toggle value="Plotter">Plotter</mat-button-toggle>
        <mat-button-toggle value="Model">Model</mat-button-toggle>
        <mat-button-toggle value="AllPlots">4Plots</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group *ngIf="tabIndex==0 && !allPlotsViewFlag" value="Global" style="margin-left: 50px;" #groupPanel="matButtonToggleGroup" name="modePanel" aria-label="Font Style" (change)="changeViewPanel(groupPanel.value)">
        <mat-button-toggle value="Global">Global</mat-button-toggle>
        <mat-button-toggle value="Single">Single</mat-button-toggle>
        </mat-button-toggle-group>
</mat-toolbar>
<mat-tab-group style="width:100%; height:100%" (selectedTabChange)="onLinkClick($event)">
  <mat-tab style="width:100%; height:100%" label="Monitoring">

    <div style="width:100%; height:100%" class="containerModelPlot"
    fxLayout ="column"
    fxLayout.xs="column"
    fxLayoutAlign="center stretch"
    fxLayoutGap="5px"
    fxLayoutGap.xs="0">
      <div class="item item-1"  fxFlex="90" >
        <div style="height:100%">
          <div style="width:100%; height:100%"
          fxLayout ="row"
          fxLayout.xs="column"
          fxLayoutAlign="center stretch"
          fxLayoutGap="5px"
          fxLayoutGap.xs="0">
            <div class="item item-1"  fxFlex="20" >
              <div style="width:100%; height:100%;">
                   <div  *ngIf="true; then TreeView"></div>
              </div> 
            </div>
            <div class="item item-2"  fxFlex="40" >
                <div style="width:100%; height:100%"
                fxLayout ="column"
                fxLayout.xs="column"
                fxLayoutAlign="center stretch"
                fxLayoutGap="2px"
                fxLayoutGap.xs="0">
                    <div  *ngIf="allPlotsViewFlag; then LeftPlotView else controlPanelView"></div>
                </div>       
            </div>
            <div class="item item-3"  fxFlex="40" >
                <div style="height:100%"> 
                  <div style="width:100%; height:100%"
                  fxLayout ="column"
                  fxLayout.xs="column"
                  fxLayoutAlign="center stretch"
                  fxLayoutGap="2px"
                  fxLayoutGap.xs="0">
                    <div  *ngIf="plotterViewFlag; then plotterView"></div>
                    <div  *ngIf="modelViewFlag; then modelView"></div>
                    <div  *ngIf="allPlotsViewFlag; then twoPlotView"></div>
                  </div>
                </div> 
            </div>
          </div>
        </div> 
      </div>
      <div class="item item-2"  fxFlex="10" >
        <div style="background-color: red; height:100%">LOGGER</div> 
      </div>

    </div>
    </mat-tab>
    <mat-tab label="Plugins">
      <app-plugin-list></app-plugin-list>
    </mat-tab>
</mat-tab-group>

<!--<app-slider-control></app-slider-control>-->


<ng-template #controlPanelView>
    <div class="item item-1"  fxFlexFill >
        <div *ngIf="controlPanelViewFlag== false" style=" height:100%">
            <app-bar-chart  idPlot="0" ></app-bar-chart>
        </div> 
        <div *ngIf="controlPanelViewFlag== true" style=" height:100%">
            <app-control-panel></app-control-panel>
        </div> 
    </div>
  </ng-template>
  
<ng-template #plotterView>
  <div class="item item-1"  fxFlexFill >
      <div style="height:100%;">
          <app-plotter  idPlot="0" ></app-plotter>
      </div> 
  </div>
</ng-template>

<ng-template #modelView>
    <div class="item item-1"  fxFlexFill >
        <div style=" height:100%">
            <app-canvas></app-canvas>
        </div> 
    </div>
</ng-template>


<ng-template #twoPlotView>
    <div class="item item-1"  fxFlex="50" >
        <div style=" height:100%">
          <app-plotter idPlot="1" ></app-plotter>
        </div> 
    </div>
    <div class="item item-2"  fxFlex="50" >
        <div style=" height:100%">
          <app-plotter idPlot="4" label="Torque"  [fields]="['effort','refTor']"></app-plotter> 
        </div>
    </div>  
</ng-template>  

<ng-template #LeftPlotView>

        <div class="item item-2"  fxFlex="50" >
            <div style=" height:100%">
                <app-plotter idPlot="2" label="Position" [fields]="['motorPos','linkPos','refPos']"></app-plotter>
            </div> 
        </div>
        <div class="item item-3"  fxFlex="50" >
            <div style=" height:100%">
                <app-plotter idPlot="3" label="Velocity"  [fields]="['motorVel','linkVel','refVel']"></app-plotter> 
            </div> 
        </div>
</ng-template>

<ng-template #TreeView>
    <app-tree-panel></app-tree-panel>
</ng-template>
